<div id="contentList">
    
    <md-button ng-click="updateContent(0, $event)" class="md-raised"> Add New Content </md-button>

    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Create Date</th> 
            <th>Publish Date</th> 
            <th>Publish</th>         
        </tr>
        <tr data-ng-repeat="item in contents">
            <td>{{item.id}}</td>
            <td><a  ng-click="showContent(item.id, $event)">{{item.title}}</a></td>
            <!--<td>{{item.Category.Title}}</td>-->
            <td>{{item.catID}}</td>
            <td>{{item.createDate}}</td>            
            <td>{{item.publishDate}}</td>     
            <td>{{content.isPublish ? "Published" : "Draft"}}</td>    
        </tr>
    </table>

    <p><samp>Content Count: <strong>{{contents.length}}</strong></samp></p>
    {{sood() | currency}}
    <div id="example" >
        <div >
            <kendo-grid options="mainGridOptions">
                <div k-detail-template>
                    <kendo-tabstrip>
                        <ul>
                            <li class="k-state-active">Orders</li>
                            <li>Contact information</li>
                        </ul>
                        <div>
                            <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
                        </div>
                        <div>
                            <ul>
                                <li>Country: <input ng-model="dataItem.Country" /></li>
                                <li>City: <input ng-model="dataItem.City" /></li>
                                <li>Address: {{dataItem.Address}}</li>
                                <li>Home phone: {{dataItem.HomePhone}}</li>
                            </ul>
                        </div>
                    </kendo-tabstrip>
                </div>
            </kendo-grid>


        </div>
    </div>
    
</div>



