<div id="contentUpdate" ng-cloak style="width: 500px">    
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="fa fa-close" aria-label="Close dialog"></i>
                </md-button>
            </div>
        </md-toolbar>
        <ng-form data-ng-submit="save(newContent)" name="newContentForm" novalidate="">
            <md-dialog-content>
                <div class="md-dialog-content">
                    <div class="form-group">
                        <label for="CatID">Category</label><span class="error" data-ng-show="newContentForm.CatID.$error.required">*</span>                        
                        <select class="form-control" id="CatID" name="CatID" placeholder="Category" data-ng-model="newContent.CatID" required>
                            <option></option>
                            <option ng-repeat="item in categories">
                                {{item.title}}
                            </option>
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Title">Title</label><span class="error" data-ng-show="newContentForm.Title.$error.required">*</span>
                        <input type="text" class="form-control" id="Title" name="Title" placeholder="Title" data-ng-model="newContent.Title" data-ng-minlength="3" data-ng-maxlength="30" required>
                        <span class="errorMessage" ng-show="checkInputValidation(newContentForm.Title)" style="">
                            Title is required
                        </span>
                        <span class="error" data-ng-show="newContentForm.Title.$error.minlength">minimum 3 Characters</span>
                        <span class="error" data-ng-show="newContentForm.Title.$error.maxlength">maximum 30 Characters</span>
                    </div>
                    <div class="form-group">
                        <label for="Publish-Date">Publish Date</label><span class="error" data-ng-show="newContentForm.PublishDate.$error.required">*</span>
<!--                        <input type="text" class="form-control" id="Publish-Date" name="PublishDate" ng-pattern="/\d\d/\d\d/\d\d\d\d" data-ng-model="newContent.PublishDate" required />-->                        
                        <input type="text" class="form-control" id="Publish-Date" name="PublishDate" data-ng-model="newContent.PublishDate" required />
                        <span class="errorMessage" ng-show="checkInputValidation(newContentForm.PublishDate)" style="">
                            Title is required
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="Body">Body</label><span class="error" data-ng-show="newContentForm.Body.$error.required">*</span>
                        <textarea id="Body" name="Body" class="form-control" rows="3" data-ng-model="newContent.Body" required data-ng-minlength="10"></textarea>
                        <span class="error" data-ng-show="newContentForm.Body.$error.minlength">minimum 10 Characters</span>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                
                <md-button class="md-primary" data-ng-disabled="newContentForm.$invalid" ng-click="save(newContent)">Save</md-button>
                <md-button class="" ng-click="closeDialog(newContentForm)" >Cancel</md-button>
            </md-dialog-actions>
        </ng-form>
        <style>
            input.ng-valid.ng-dirty,select.ng-valid.ng-dirty,textarea.ng-valid.ng-dirty{
                border-left: 5px solid green;
            }
            input.ng-invalid.ng-dirty,select.ng-invalid.ng-dirty,textarea.ng-invalid.ng-dirty{
                border-left: 5px solid red;
            }
        </style>
</div>