<section id="blog" class="section container" ng-cloak scroll="loadMore()">
    <div class="center">
        <h2>Users Posts</h2>
        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
    </div>

    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item" data-ng-repeat="post in posts | orderBy:'-id' | limitTo: maxItem | filter: search">
                    <blog-item post="post"></blog-item>
                </div><!--/.blog-item-->

                <ul class="pagination pagination-lg loadmore" data-ng-class="{'disabled' : posts.length <= maxItem}">
                    <li><a href="" data-ng-click="loadMore()"><i class="fa fa-long-arrow-down"></i>Load more</a></li>
                </ul><!--/.pagination-->
            </div><!--/.col-md-8-->

            <sidebar show-search="true" show-comments="true" show-photos="true" search="search"/>
        </div><!--/.row-->
    </div>
</section><!--/#blog-->
