<div id="contentView" ng-cloak style="width: 500px">
    <form class="form-horizontal">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{content.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                    <i class="fa fa-close" aria-label="Close dialog"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="md-dialog-content">
                    <div class="form-group">
                        <label class="col-sm-3">Category</label>
                        <div class="col-sm-9">
                            {{content.category.title}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Body</label>
                        <div class="col-sm-9">
                            {{content.body}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Create Date</label>
                        <div class="col-sm-9">
                            {{content.createDate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Publish Date</label>
                        <div class="col-sm-9">
                            {{content.publishDate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Is Publish</label>
                        <div class="col-sm-9">
                            {{content.isPublish ? "Published" : "Draft"}}
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Useful
            </md-button>-->
            <md-button ng-click="closeDialog()" class="md-raised md-primary">Edit</md-button>
        </md-dialog-actions>
    </form>
</div>