<section id="blog" class="section container" data-ng-cloak>
    <div class="center">
        <h2>Post</h2>
        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
    </div>

    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <blog-view post="post" data-ng-if="post"></blog-view>
                <author-box user="user" data-ng-if="user"></author-box>
                <h3 id="comments_title">{{comments.length}} Comments</h3>
                <div data-ng-repeat="item in comments">
                    <comment-item comment="item"></comment-item>
                </div>
                <comment-form></comment-form>
            </div><!--/.col-md-8-->
            <sidebar show-posts="true" show-comments="true" show-photos="true"/>
        </div><!--/.row-->
    </div>
</section><!--/#blog-->
