<section class="section"  id="portfolio" data-ng-cloak>
    <div class="container">
        <div class="center">
            <h2>{{album.title}}</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div id="gallery">
            <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators visible-xs">
                    <li data-ng-repeat="photo in photos | limitTo: maxItem" data-target="#carousel-slider" data-ng-class="{'active' : $index == 0}"  data-slide-to="{{$index}}"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item"  data-ng-class="{'active' : $index == 0}" data-ng-repeat="photo in photos | limitTo: maxItem">
                        <img data-ng-src="{{photo.url}}" class="img-responsive" alt="{{photo.title}}">
                    </div>
                </div>

                <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>

                <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div> <!--/#carousel-slider-->
        </div><!--/#about-slider-->
    </div>
</section><!--/#portfolio-item-->
